src/main/resources/schemas/book.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://sample.nuxeo.org/sample/schemas/book/"
  xmlns:bk="http://sample.nuxeo.org/sample/schemas/book/">

  <xs:element name="author" type="xs:string" />
  <xs:element name="isbn" type="xs:string" />
  <xs:element name="publicationYear" type="xs:string" />

</xs:schema>